<div class="row">
  <div class="col-5 offset-4">
    <div class="card border-primary">
      <div class="card-header bg-primary text-center text-white mb-2">
        <h1>Registrate en medk</h1>
      </div>

      <div class="card-body">
        <form (ngSubmit)="register()">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              name="nombres"
              [(ngModel)]="user.nombres"
              placeholder="Escribe tus nombres..."
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              name="apellidos"
              [(ngModel)]="user.apellidos"
              placeholder="Escribe tus apellidos..."
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="user.email"
              placeholder="Escribe tu correo..."
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="user.password"
              placeholder="Escribe una contraseña segura..."
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-outline-primary btn-block mb-2">
            Registrate
          </button>
        </form>

        <div class="form-group">
          <div class="d-flex justify-content-center">
            <p class="mb-0">
              ¿Ya estas registrado?
              <a [routerLink]="['/login']">Ingresa a medk</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
