<div>
  <form class="form-inline">
    <h1 class="text-center mr-2">
      Escoge un horario disponible para reservar:
    </h1>
    <input type="datetime-local" class="form-control mb-2 mr-sm-2" />
  </form>
</div>

<div class="justify-content-center">
  <button type="button" class="btn btn-primary btn-lg btn-block">
    14:00 a 16:00
  </button>
  <button type="button" class="btn btn-success btn-lg btn-block">
    14:00 a 16:00
  </button>
  <button type="button" class="btn btn-danger btn-lg btn-block">
    14:00 a 16:00
  </button>
  <button type="button" class="btn btn-danger btn-lg btn-block">
    14:00 a 16:00
  </button>
  <button type="button" class="btn btn-danger btn-lg btn-block">
    14:00 a 16:00
  </button>
  <button type="button" class="btn btn-primary btn-lg btn-block">
    14:00 a 16:00
  </button>
</div>
