<app-card-form title="Registrar consultorio">
  <form (ngSubmit)="registerOficce()">
    <div class="input-group mb-3">
      <select class="form-control mb-2" id="especialidad">
        <option>Seleccione el centro de salud</option>
        <option>Fernando</option>
        <option>Heidy</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <select class="form-control mb-2" id="especialidad">
        <option>Seleccione un doctor</option>
        <option>Fernando</option>
        <option>Heidy</option>
      </select>
    </div>
    <div class="mb-3">
      <input
        type="number"
        class="form-control"
        name="indicacciones"
        [(ngModel)]="office.indicacciones"
        placeholder="Escriba las indicaciones del consultorio..."
      />
      <small class="form-text text-muted"
        >Ejem: 2da planta en el pasillo izquierdo, consultorio n#3</small
      >
    </div>

    <button type="submit" class="btn btn-outline-primary btn-block mb-2">
      Registrar
    </button>
  </form>
</app-card-form>
