<div class="row">
  <div class="col-5 offset-4">
    <div class="card border-primary">
      <div class="card-header bg-primary text-center text-white mb-2">
        <h1>Ingresa a medk</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="login()">
          <div class="input-group mb-3">
            <input
              type="email"
              name="email"
              [(ngModel)]="user.email"
              class="form-control"
              placeholder="Escribe tu correo..."
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              name="password"
              [(ngModel)]="user.password"
              class="form-control"
              placeholder="Escribe tu contraseña..."
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary btn-block mb-2">
            Iniciar Sesión
          </button>
        </form>

        <div class="form-group">
          <div class="d-flex justify-content-center">
            <p class="mb-0 text-dark">
              ¿Aún no estas registrado?
              <a [routerLink]="['/register']">Registrate</a>
            </p>
          </div>
          <div class="d-flex justify-content-center">
            <a class="link pointer"> ¿Olvidaste tu contraseña? </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
